<ul>
  <% @story.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<form action="/users/<%=@user.id%>/stories" method="post">
  <input type="text" name="stories[name]" placeholder="Type in the story's name"></input>
  <input type="hidden" name="stories[user_id]" value="<%= @story.user_id%>"></input>
  <input type="submit"></input>
</form>