<ul>
  <% @story.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<form action="/new_story" method="post">
  <input type="text" name="stories[name]" placeholder="Type in the story's name" value="<%=@story.name%>"></input>
  <input type="hidden" name="stories[user_id]" value="<%= @user.id%>"></input>
  <input type="submit"></input>
</form>