<ul><% Story.where({"user_id" => @user.id}).each do |story| %>
  <li><%= story.name %>  <a href="/stories/delete/<%= story.id%>">Delete</a>  <a href="/stories/<%= story.id%>/edit">Edit</a></li>
<% end %></ul>
